section.return.section-bg.g-sectionIndent
	.container
		.return__wrap
			h2.title-2 Кэшбек позволит вернуть часть проигранных средств
			p.g-text Неотъемлемая часть политики First Casino – это cashback, представляющий собой возврат игроку части проигранных на прошедшей неделе денежных средств. Сумма кэшбека определяется разницей между ставками и выигрышами и умножается на процент кэшбека. % возврата определяется в индивидуальном порядке для каждого клиента, может составить 15% суммарного объема ставок. Каждый понедельник в 01:00 (по киевскому времени) осуществляется автоматическое начисление по cashback.
			p.g-text Кроме того, лучшие геймеры месяца получают дополнительные денежные бонусы. Чтобы каждый посетитель мог лично убедиться в честности выигрышей, в казино First Casino ведется раздел «Зал славы». Там размещается актуальная информация о выигранных суммах и имена удачливых игроков.
			p.g-text Если постоянно следить за e-mail-рассылками FirstCasino, можно найти полезные промокоды и специальные купоны.