section.info.section-bg.g-sectionIndent
	.container
		h1.title-1 Заголовок
		.info__body
			.info__left
				p.g-text Онлайн казино First Casino представляет собой популярный игровой проект, предлагающий клиентам большой выбор игр на любой вкус: от классических игровых автоматов и легендарной рулетки до залов с live-дилерами. В рейтингах среди других виртуальных площадок FirstCasino занимает верхние строчки, а положительные отзывы игроков только подтверждают тот факт, что казино по праву считается одним из лучших на рынке азартных развлечений.
				p.g-text С первого дня существования Казино First Casino ведет законную лицензионную деятельность. Лицензия выдана одним из старейших регуляторов игорного бизнеса – компанией Кюрасао. Аудитория онлайн казино – это, в основном, посетители из Украины, России и стран ближнего зарубежья.
			.info__right
				img.img(src="img/info__img.png", alt="info")