// footer

footer.footer

	.container
		.footer__wrap
			.footer__logo
				img.img(src="img/logo.png", alt="First")
			.footer__menu.g-menu
				ul
					li.list
						a(href="page.html") FIRST CASINO УКРАИНА
					li.list
						a(href="page.html") САЙТ FIRST CASINO
					li.list
						a(href="page.html") ИГРЫ FIRST CASINO
					li.list
						a(href="page.html") БОНУСЫ FIRST CASINO
			.footer__dmca
				<a href="//www.dmca.com/Protection/Status.aspx?ID=2c33f4bd-d8d8-47f2-8c9b-8a8defef1527" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=2c33f4bd-d8d8-47f2-8c9b-8a8defef1527"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
	.footer__copyright
		span © 2020 first-casino.co.ua Все права защищены.

		

	// /.container

// /.footer






























