// header
header.header

	.container
		.header__wrap
			a(href="index.html").header__logo
				img.img(src="img/logo.png", alt="First")
			.header__burger
				span
			.header__menu.g-menu
				ul
					li.list
						a(href=".hero").js-scroll-to-form FIRST CASINO УКРАИНА
					li.list
						a(href=".site").js-scroll-to-form САЙТ FIRST CASINO
					li.list
						a(href=".assortment").js-scroll-to-form ИГРЫ FIRST CASINO
					li.list
						a(href=".bonus").js-scroll-to-form БОНУСЫ FIRST CASINO
			.header__authorisation
				button.button(data-href="https://1casinowin.com/auth/signup?refcode=37608be3-4f72-495b-81ff-9afceb88b9e7") АВТОРИЗИРОВАТЬСЯ



	// /.container

// /.header









