
section.assortment.section-bg.g-sectionIndent
	.container
		h2.title-2 Игровой ассортимент казино FirstCasino
		p.g-text Игры в First Casino – это только проверенный лицензионный софт, о чем свидетельствуют показатели возврата RTP, достигающие до 98%. Поставщиками игрового контента для казино First Украина выступают такие провайдеры, как NetEnt и Novomatic, Playtech и Playson, Booongo и др.
		p.g-text Каталог игр, предлагаемых в онлайн казино First Casino, состоит из:
		.assortment__wrap
			ul.list.g-list-ul
				li слотов (игровых автоматов);
				li нескольких модификаций рулетки;
				li покера;
				li баккара;
				li блэк-джека;
				li лотерей.
			ol.list.g-list-ol
				li слотов (игровых автоматов);
				li нескольких модификаций рулетки;
				li покера;
				li баккара;
				li блэк-джека;
				li лотерей.
			table.g-table
				thead
					tr
						th Услуга
						th Цена
				tbody
					tr
						td(aria-label="Услуга") 1 услуга
						td(aria-label="Цена") 100
					tr
						td(aria-label="Услуга") 2 услуга
						td(aria-label="Цена") 200
					tr
						td(aria-label="Услуга") 3 услуга
						td(aria-label="Цена") 300
					tr
						td(aria-label="Услуга") 4 услуга
						td(aria-label="Цена") 400