
section.bonus.section-bg.g-sectionIndent
	.container
		.bonus__wrap
			.bonus__right
				h2.title-2 Бонусы и акции в First Casino
				p.g-text Администрация клуба осознает необходимость привлечения новых клиентов и поощрения постоянных. По этой причине в онлайн казино FirstCasino разработана хорошая бонусная и акционная программа.
				p.g-text Каждый новый пользователь за прохождение регистрации получает подарок в виде бонусов на три первых депозита:
				ul.g-list-ul.list
					li 111% бонус + 111 бесплатных вращений за первый депозит;
					li 111% бонус на второе и третье пополнение счета
				p.g-text Бонусное предложение сопровождается вейджером 30 x. Чтобы активировать подарок, необходимо зайти в специальный раздел сайта «Касса». Минимальная сумма – 100 гривен.
				p.g-text Последующие пополнения баланса также будут приносить игроку бонусы, но безвейджерные. Пополнив депозит, игрок получает шанс на одно вращение колеса. В подарок выдаются не только фриспины, но и деньги на игровой счет.


