
section.reviews.section-bg.g-sectionIndent
	.container
		h2.title-2 Отзывы наших пользователей
		.reviews__wrap.g-card__wrap
			.reviews__column.g-card__column
				.reviews__item.g-card__item
					.reviews__item-img.g-card__item-img
						img(src="img/user.jfif", alt="user")
					.reviews__item-body.g-card__item-body
						p.g-textBold Имя Фамилия
						p.g-text 17.12.2020
						p.lite-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, saepe! Nobis, nesciunt ex excepturi aliquam placeat ratione dolores odit libero voluptates magni officia. Exercitationem, mollitia! Aliquid cupiditate ducimus cumque architecto?
			.reviews__column.g-card__column
				.reviews__item.g-card__item
					.reviews__item-img.g-card__item-img
						img(src="img/user.jfif", alt="user")
					.reviews__item-body.g-card__item-body
						p.g-textBold Имя Фамилия
						p.g-text 17.12.2020
						p.lite-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, saepe! Nobis, nesciunt ex excepturi aliquam placeat ratione dolores odit libero voluptates magni officia. Exercitationem, mollitia! Aliquid cupiditate ducimus cumque architecto?
			.reviews__column.g-card__column
				.reviews__item.g-card__item
					.reviews__item-img.g-card__item-img
						img(src="img/user.png", alt="user")
					.reviews__item-body.g-card__item-body
						p.g-textBold Имя Фамилия
						p.g-text 17.12.2020
						p.lite-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, saepe! Nobis, nesciunt ex excepturi aliquam placeat ratione dolores odit libero voluptates magni officia. Exercitationem, mollitia! Aliquid cupiditate ducimus cumque architecto?