extends layout/main

block variables
	- let title = 'First Casino'



block content
	include sections-index/hero
	include sections-index/info
	include sections-index/site
	include sections-index/reviews
	include sections-index/assortment
	include sections-index/bonus
	include sections-index/return





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")